@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");


:root {
    --very-dark-color: rgb(23 35 57);
    --dark-color: rgb(73 86 109);
    --neutral-color: rgb(234 237 231);
    --accent-color: rgb(250 248 246);

    /* super-blend */
    --top-color: rgb(9, 7, 12);
    --middle-color: rgb(203 48 227);
    --bottom-color: rgb(255 168 78);
    --font:Epilogue;

}
::before,
::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* width: auto; */
}

/* https://www.figma.com/file/Is1ifzsefssJvgPQQJtDkw/suite-landing-page?node-id=0%3A1&t=XSjJ1MgKmiT94MXz-0 */

body{
    overflow-x: hidden;
    font-family: var(--font);
    /* width: auto; */
    /* background-color: #172339; */
}
nav{
    /* border: 2px solid red; */
    /* background-color: red; */
    width: 1300px;
    /* height: 56px; */
    margin-left: 135px;
    margin-right: 165px;
    margin-top:50px;
    display: flex;
    justify-content: space-between;
}
.navbtn{
    width: 219px; 
    height: 56px; 
    border-radius: 6px;
    border: 1px solid #172339;
    color: #172339;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    margin-right: -50px;
}
.navbtn:hover{
    color: #fff;
    background: #172339;
}

.logo{
    margin-top:auto;
    margin-bottom: auto;
    width: 78.41px;
    height: 24.8px;   
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(0, 255, 106); */
}
.super-solution-section{
    /* background-color: blue; */
    width: 64%;
    height: 80%;
    /* border: 3px solid rgb(51, 153, 59); */
}
.stats-section{
    width: 190px;
    /* height: 375px; */
    /* background-color: #ffa84e; */
    /* margin-top: 90px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 10px;
    margin-top: -10px;
    margin-right: 30px;
    margin-left: 50px;
}
.bold{
    font-weight: 500;
    font-size: 50px;
    color: #172339;
    /* background-color: #cb30e3; */
}
.normal{
    font-weight: 200;
font-size: 12px;
line-height: 26px;
letter-spacing: 2.5px;
color: #49566D;
margin-top: -50px;
/* background-color: aqua; */
}
.Twok{
    margin-top: -50px;
}
.one-point-two{
    margin-top: -50px;
}
.mini-container{
    /* background-color: brown; */
}
.tablet-jeremy-photo{
    display: none;
}
.mobile-jeremy-photo{
    display: none;
}
.articlee-one{
    position: absolute;
    /* background-color: crimson; */
    width: 635.5px;
    height: 405px;
    margin-left: 4%;
    margin-top: 140px;
}
.desktop-img-hero{
    background-size: contain;
    margin-left: 543px;
    margin-top: 15px;
}
.article-heading{
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 1002px;
    line-height: 78px;
    width: 635px;
    height: 156px;
}
.marketingg{
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D;
}
.requestbtn{
    width: 256px;
    height: 61px;
    margin-top: 32px;
}


/* whack */
/* .section-one{
    border: 2px solid red;
    width: 1311px;
    height: 600px;
    margin-left: 170px;
    display: flex;
    margin-top: 173px;
    z-index: 5;
} */
/* from the second part */
/* origyy */
.section-one{
    width: 100%;
    height: 600px;
}
.article-one{
    /* border: 2px solid cadetblue; */
    width: 635px;
    height: 405px;
    margin-top: 140px;
    margin-left: -820px;
}
.article-heading{
    /* border: 2px solid cadetblue; */
    width: 635px;
    height: 156px;
    font-size: 73px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -1px;
    color: #172339;
}
.marketing{
    /* border: 2px solid cyan; */
    width: 350px;
    height: 96px;
    margin-top: 2px;
    

}
.requestbtn{
    width: 219px;
    height: 56px;
    border: 2px solid violet;
    /* border: none; */
    margin-top: 50px;
    /* margin-top:188px; */
}
.pricelistt{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: darkcyan; */
    /* border: 2px solid darkblue; */
    
}
.heroo{
    width: 350px;
    height: 600px;
    /* margin-left: -640px; */
}
bold{
    font-weight: 800;
}
.marketing{
    color: #49566D;
    font-weight: 300;
    font-size: 15px;
    line-height: 32px; 
    letter-spacing: 0.1px;

}
.requestbtn{
    width: 219px; 
    height: 56px; 
    border-radius: 6px;
    border: 1px solid #172339;
    background-color: #172339;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
}
.requestbtn:hover{
    background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
    color: #fff;
    border: #cb30e3;
}
.desktop-hero-img{
    margin-right: 200px;
    /* z-index: 5; */
}
/* .pricelistt{
    width: 190px;
    height: 375px;
    margin-right: -210px;
} */
.bolded-price{
    font-weight: 700;
    font-size: 40px;
    line-height: 56px; 
    letter-spacing: -0.5px;
     color: #172339;
}
.descriptions{
    font-weight: 300;
    font-size: 10px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}
.twok{
    margin-bottom: 3rem;
}
.eight{
    margin-bottom: 3rem;
}
.one-point{
    margin-bottom: 3rem;
}
.curveddd-line{
    width: 687px;
    height: 32px;
    margin-right: 100px;
    margin-left: 350px;
    margin-top: -530px;
} 
.section-two{
    width: 1110px;
    height: 589.56px; 
    /* border: 2px solid violet; */
    width: 1311px;
    height: 600px;
    margin-left: 140px;
    display: flex;
    margin-top: 160px;
}
.deep-blue-bg{
    width: 1261px;
    height: 545px;
    /* border: 2px solid red; */
    margin-top: 55px;
    background: #172339;
    border-radius: 15px;
    margin-left: 40px;
    /* margin-right: -1px; */
}
.footer-bg{
    /* position: relative; */
    background: #F3EDE7;
    width: 1640px;
    height: 464px;  
    border: 2px solid #F3EDE7;
    margin-top: -250px;
    margin-bottom: 5px;
    /* margin-left: -40px; */
}
.jeremy-photo{
    /* margin-bottom: -150px; */
    margin-top: -670px;
    margin-left: 150px;
}
.small-curved-line{
    /* margin-right: 100px; */
    margin-left: 580px;
    margin-top: -370px;
    /* margin-bottom: -120px; */
}
.blurr{
    margin-top: 80px;
    margin-left: 90px;
}
.it-just-dey-work{
    width: 350px;
    height: 369px;
    /* border: 2px solid limegreen; */
    margin-left: 730px;
    /* margin-bottom: 100px;    */
    margin-top: -120px;
}
.it-just-dey-work-header{
    font-weight: 250;
    font-size: 35px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #FAF8F6;
}
.it-just-dey-work-paragraph{
    font-weight: 300;
font-size: 15px;
line-height: 35px;
letter-spacing: 0.1px;
color: #F3EDE7;
margin-top: 25px;
}
.jeremy-robinson{
    font-weight: 400;
font-size: 14px;
line-height: 32px;
letter-spacing: -0.18px;
color: #FAF8F6;
margin-top: 35px;
}
.cmo{
    font-weight: 200;
font-size: 16px;
line-height: 26px;
letter-spacing: 2.5px;
color: #F3EDE7;
}
footer{
    /* background-color: goldenrod; */
    
    /* border: 2px solid limegreen; */
    width: 1261px;
    height: 27px;
    margin-top: 350px;  
    margin-left: 178px;  
}
.copyrightt{
    font-weight: 400;
font-size: 15px;
line-height: 32px;
text-align: center;
letter-spacing: 0.0833333px;
color: #49566D;
margin-top: -30px;
}
.social-media-platforms{
    /* background-color: #49566D; */
    display: inline;
    /* margin-right: -90px; */
    /* width: 116px;
    height: 21px; */
    /* justify-content:space-evenly; */
    /* border: 2px solid blue; */
    /* margin-left: 90px; */
    /* display: flex; */
    /* display: inline; */
    /* justify-content: space-evenly; */
    /* margin-top: 100px; */
    /* justify-content: space-between; */
}
.social-media-platforms ul:hover{
    cursor: pointer;
   /* color: grey; */
}
.mobile-img-hero{
    display: none;
}
li{
    display: flex;
    display: inline;
    
    /* justify-content: space-evenly; */
}
.social-media-platforms ul{
    margin-left: 1093px;
    margin-top: -43px;
}

.fcb {
    margin-left: 20px;
}

.instaa {
    margin-left: 20px;
}
.tweet{
    margin-left: 20px;
}


.mobile-img-hero{
    display: none;
}
.tablet-img-hero{
    display: none;
}
.tablet-jeremy-photo{
    display: none;
}
/* tablet view */
@media only screen and (min-width: 768px) and (max-width: 1000px){
    /* *{
        width: auto;
    } */
    nav{
         /* background-color: violet; */
    width: 90%;
    height: 56px;
    margin-left: 20px;
    /* margin-right: 165px; */
    /* margin-top:50px; */
    /* display: flex;
    justify-content: space-between; */
    }
     .logo{
        display: flex;

        /* position: absolute; */
        /* margin-top: auto; */
        /* margin-bottom: auto; */
        /* width: 78.41px; */
        /* height: 24.8px;  */
        /* width: 78.41px;
        margin-left: -2rem;
        margin-bottom: -15rem; */
    }
.desktop-img-hero{
    display: none;
}
.mobile-img-hero{
    display: none;
}
/* .tablet-img-hero{
    display: block;
} */
.tablet-img-hero{
    display: block;
    width: 281px;
    height: 482px;
    margin-left: 410px;
    margin-bottom: -90px;
}
.articlee-one{
    margin-top: 60px;
    /* font-size: 56px; */
    width: 553px;
    height: 354px;  
    margin-left: 16px;
}
.curveddd-line{
    width: 231.19px;
    height: 25.78px;
    margin-top: -450px;
    margin-left: 196px;
}
/* .pricelistt{
    width: 689px;
    height: 83px;

} */
.article-heading{
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -0.777778px;
    font-family: var(--font);
}
.marketingg{
    font-weight: 200;
font-size: 21px;
line-height: 30px;
letter-spacing: 0.0888889px;
color: #49566D;
font-family: var(--font);
}
.requestbtn{
    width: 256px;
    height: 61px;
}
.stats-section{
    width: 689px;
    height: 93px;
    justify-content: space-between;
    margin-top: 450px;
    display: flex;
    margin-left: 20px;
    position: absolute;
    /* background-color: #a060ff; */
}
.Twok{
    /* background-color: aqua; */
    margin-top: -40px;
}
.eight{
    /* background-color: yellowgreen; */
    margin-top: -40px;
}
.one-point-two{
    /* background-color: tomato; */
    margin-top: -40px;
}
.normal{
    /* background-color: #a060ff; */
    margin-top: -60px;
    color: #49566D;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.5px;
/* background-color: #172339; */
}
.super-solution-section{
   margin-left: -200px; 
} 
.section-two{
    /* width: 1110px;
    height: 589.56px; */
    width: 1311px;
    height: 600px;
    margin-top: 150px;
    /* 
    margin-left: 140px;
    display: flex;
     */
    /* background-color: aqua; */
}
.deep-blue-bg{
    width: 720px;
    height: 784px;
    margin-top: -50px;
    margin-left: -130px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin-left: -100px; */
    /* border: 2px solid red; */
    /* margin-bottom: 1000px; */
    /* background: #172339;
    border-radius: 15px;
     */
    /* margin-right: 5px; */
}
.jeremy-photo{
    margin-top: -850px;
    /* margin-left: auto; */
    /* margin-right: auto; */
}
.blurr{
    /* margin-bottom: 150px; */
    margin-left: 50px;
    margin-top: -120px;
}
.small-curved-line{
    margin-top: 60px;
    margin-left: 270px;
}
.jeremy-photo{
    display: none;
}
.tablet-jeremy-photo{
    display: block;
    margin-top: -640px;
    margin-left: 200px;
}
.it-just-dey-work{
    width: 573px;
    height: 282px;
    /* background-color: aqua; */
    margin-left: 230px;
    margin-top: 50px;
    /* margin-bottom: -20px; */
    /* justify-content: space-evenly; */
}
.it-just-dey-work-header{
    font-weight: 400;
font-size: 50px;
line-height: 78px;
text-align: center;
letter-spacing: -0.416667px;
color: #FAF8F6;
margin-left: -300px;
}
.it-just-dey-work-paragraph{
    font-weight: 400;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: 0.09px;
color: #F3EDE7;
margin-left: -300px;
}
.jeremy-robinson{
    font-weight: 700;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: -0.18px;
color: #FAF8F6;
margin-left: -300px;
}
.cmo{
    font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.5px;
color: #F3EDE7;
margin-left: -300px;
}
.footer-bg{
    width: 768px;
    height: 640px;
    background: #F3EDE7;
}
footer{
    width: 720px;
    height: 22px;
    /* background-color: aqua; */
    margin-left: 10px;
    margin-top: 500px;
    position: absolute;
}
.social-media-platforms{
    /* width: 400px; */
    /* background-color: red; */
     display: inline;
     /* margin-top: 667px; */
    
    /* margin-left: -550px; */

}
.social-media-platforms ul{
    margin-left: 550px;
    margin-top: -39px;
}
}
/* mobile version */
@media only screen and (min-width: 300px) and (max-width: 428px){
    /* *{
        width: auto;
    } */
    nav{
        width: 110%;
        height: 57px;
        margin-left: -36px;
        /* justify-content: space-evenly;
        padding-left: 5px;
        padding-right: 5px; */
    }  
    .logo{
        margin-left: -5px;
    }
    .navbtn{
        margin-right: auto;
        margin-left: 45px;
        width: 890px;
        height: 55px;
    }
    .desktop-img-hero{
        display: none;
    }
    .tablet-img-hero{
        display: none;
    }
    .mobile-img-hero{
        display: inline;
        margin-top: 355px;
        margin-left: 1px;
    }
    .jeremy-photo{
        display: none;
    }
   .tablet-jeremy-photo{
    display: none;
   }
.mobile-jeremy-photo{
    display: block;
    margin-bottom: auto;
    margin-top: -630px;
    margin-left: 47px;
    /* margin-right: 10px; */
}
    .articlee-one{
        width: 343.5px;
        height: 325.32px;
        /* background-color: aqua; */
        margin-top: 30px;
        margin-left: 30px;
    }
    .article-heading{
        font-weight: 400;
font-size: 35px;
line-height: 47px;
letter-spacing: -0.527778px;
color: #172339;
margin-top: -10px;

    }
    .curveddd-line{
        width: 151.47px;
        height: 16.89px;
        /* border: 2px solid blue; */
         margin-right: 10px;
        margin-left: 50px;
        margin-top: -630px;
    }
    .marketingg{
        font-weight: 300;
font-size: 16px;
line-height: 28px;
/* letter-spacing: 0.0888889px; */
color: #49566D;
margin-top: -50px;
margin-top: -75px;

    }
    .requestbtn{
        margin-top: 30px;
        height: 55px;
        /* width: 890px; */
    }
    .stats-section{
        width: 344px;
        height: 313px;
        /* height: 320px;   */
        /* margin-top: -30px;
        margin-bottom: -850px;
        grid-column: 1fr;
        display: grid;
        grid-gap: 0.1px;
        margin-left: -220px;
        margin-left: auto;
        margin-right: auto;
        margin-right: 90px; */
    /* background-color: aquamarine; */
    /* margin-top: 10px; */
    margin-bottom: -550px;
    margin-right: 1px;
    
    grid-column: 1fr;
    grid-gap: -0.2px;
    margin-top: 500px;
    /* margin-right: 30px; */
    margin-left: -220px;
    }
    .bold{
        font-size: 38px;
line-height: 56px;
text-align: center;
color: #172339;
font-weight: 500;
    }
    .normal{
        font-weight: 400;
font-size: 12px;
line-height: 26px;
text-align: center;
letter-spacing: 2.5px;
color: #49566D;
margin-top: px;
    }
    .deep-blue-bg{
        width: 340px;
        height: 748px;
        margin-top: 400px;
        margin-left: -138px;
    }
    .blurr{
        margin-left: -70px;
        margin-top: -100px;
    }
    .footer-bg{
        width: 358px;
        height: 420px;
        margin-top: 440px;
        margin-left: 15px;
        /* margin-bottom: 5px; */
        
    }
    .small-curved-line{
        /* background-color: #ffa84e; */
        margin-top: 40px;
        margin-left: 130px;
    }

    .it-just-dey-work{
        width: 330px;
        height: 748px;
        /* background-color: aqua; */
        margin-left: 35px;
        margin-top: 0px;
        /* margin-bottom: -20px; */
        /* justify-content: space-evenly; */
    }
    .it-just-dey-work-header{
        font-weight: 300;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: -0.416667px;
color: #FAF8F6;
margin-top: 40px;
margin-left: -35px;
    }
    .it-just-dey-work-paragraph{
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.09px;
        color: #F3EDE7;
        margin-left: -35px;
    }
    .jeremy-robinson{
        font-weight: 600;
font-size: 18px;
line-height: 32px;
text-align: center;
letter-spacing: -0.18px;
color: #FAF8F6;
margin-left: -35px;
    }
    .cmo{
        font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.5px;
color: #F3EDE7;
margin-left: -32px;
    }
  
    .social-media-platforms ul{
        margin-left: -100px;
    }
    footer{
        /* background-color: burlywood; */
        width: 165px;
        /* width: 125px; */
        height: 170px;
        margin-top: 180px;  
        margin-left: 74px;  
    }

    .social-media-platforms{
        display: block;
        /* margin-right: -90px; */
        /* width: 116px;
        height: 21px; */
        /* justify-content:space-evenly; */
        /* border: 2px solid blue; */
        /* margin-left: 90px; */
        /* display: flex; */
        /* display: inline; */
        /* justify-content: space-evenly; */
        margin-top: 85px;
        margin-left: 74px;
        /* margin-left: -600px; */
        /* justify-content: space-between; */
    }
    .copyrightt{
        margin-left: 10px;
        margin-top: 30px;
        font-weight: 400;
font-size: 15px;
line-height: 32px;
text-align: center;
letter-spacing: 0.0833333px;
color: #49566D;
    }
    .logo{
        margin-left: 35px;
    }
}
