@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');
/* 
:root {
    --very-dark-color: rgb(23 35 57);
    --dark-color: rgb(73 86 109);
    --neutral-color: rgb(234 237 231);
    --accent-color: rgb(250 248 246);

    super-blend {
    --top-color: rgb(9, 7, 12);
    --middle-color: rgb(203 48 227);
    --bottom-color: rgb(255 168 78);
    --font: Epilogue;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;
}

body {
    background-color: #FAF8F6;
}
.header {
    padding-top: 50px;
}
.header-logo-div{
    width: 81px;
    height: 32px;
}

.header-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.first-section {
    padding-top: 103px;
    padding-bottom: 92px;
    margin-top: 67px;
    position: relative;
}
.first-section::after {
    display: block;
    content: '';
    width: 350px;
    height: 600px;
    position: absolute;
    top: 0;
    left: calc(50% + 95px);
    z-index: -10;
    transform: translateX(-50%);
    background-image: url("./assets/image-hero-portrait.png");
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.first-section-info {
    max-width: 635px;
    /* background-color: #49566D; */
}

.first-section-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stats {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 63px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-button {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    color: #172339;
    border: 1px solid #172339;
    border-radius: 6px;
    width: 219px;
    height: 56px;
    cursor: pointer;
}

.header-button:hover {
    background-color: #172339;
    color: #FAF8F6;
}


.first-section-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 78px;
    letter-spacing: -1px;
    color: #172339;
}

.line {
    position: relative;
}

.line::before {
    display: block;
    content: "";
    width: 287px;
    height: 32px;
    background-image: url("./assets/pattern-curved-line-1.svg");
    background-size: 100% 100%;
    background-position: center top;
    position: absolute;
    top: -60px;
    left: 0;
}

.first-section-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D;
    max-width: 350px;
    margin: 40px 0 52px;
}

.first-section-button {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    background: #172339;
    border-radius: 6px;
    padding: 15px 31px 14px 32px;
    border: none;
    cursor: pointer;
}

.first-section-button:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}
.stats-bold-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.stats-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
    margin-top: 1px;
}
.jeremy {
    position: relative;
    margin-top: 480px;
}


.jeremy-content {
    background: #172339;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: calc(100% - 30px);
    position: absolute;
    top: 50%;
    top: calc(50% - 7.5px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1109px;
}

.jeremy-img-wrap::before {
    display: inline-block;
    content: "";
    width: 294px;
    height: 294px;
    border-radius: 50%;
    background: #DB65E2;
    mix-blend-mode: normal;
    opacity: 0.48;
    filter: blur(67.957px);
    position: absolute;
    top: 210px;
    left: 30px;
}

.jeremy-img-wrap::after {
    display: inline-block;
    content: "";
    width: 64.05px;
    height: 52px;
    background-image: url("./assets/pattern-curved-line-2.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 161px;
    left: calc(100% + 30.2px);
}

.jeremy-content>div {
    width: 50%;
}

.jeremy-img-wrap {
    width: 375px;
    height: 545px;
    margin: 0 68px 0 auto;
    position: relative;
}

.jeremy-img {
    width: 375px;
    height: 600px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.jeremy-info {
    max-width: 350px;
    margin-left: 80px;
    padding: 88px 0;
}

.jeremy-title {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #FAF8F6;
}

.jeremy-text {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #F3EDE7;
    margin: 40px 0;
}

.jeremy-name {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
}

.jeremy-job {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #F3EDE7;
}

.footer {
    padding-top: 460px;
    padding-bottom: 72px;
    background: #F3EDE7;
    /* background-color: #F3EDE7;
    margin-top: auto; */
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -70px;
    /* background-color: #FFA84E; */
}

.social-media {
    display: flex;
    gap: 28px;
}

.Copyright {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.0833333px;
    color: #49566D;
}

.icon {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #172339;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}

.facebook {
    -webkit-mask-image: url('./assets/icon-facebook.svg');
}

.twitter {
    -webkit-mask-image: url('./assets/icon-twitter.svg');
}

.instagram {
    -webkit-mask-image: url('./assets/icon-instagram.svg');
}

.icon:hover {
    opacity: 0.5;
}

/* tablet view  */
@media screen and (max-width: 991.9px) {
    .container {
        padding: 0 40px;
    }
    .header {
        padding-top: 40px;
    }
    .first-section {
        margin-top: 80px;
        padding-top: 88px;
        padding-bottom: 0;
    }
    .first-section-title {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
    }
    .first-section-text {
        font-size: 16px;
        /* line-height har bir qator bo'yi */
        line-height: 28px;
        /* letter-spacing har bir harf o'rasidagi joyni belgilaydi */
        letter-spacing: 0.0888889px;
        margin: 40px 0 40px;
    }
    .line::before {
        width: 231.19px;
        height: 29px;
        top: -50px;
    }

    .first-section::after {
        width: 281px;
        height: 482px;
        left: 100%;
        transform: translateX(calc(-100% - 40px));
    }

    .first-section-info {
        max-width: 500px;
    }
    .stats {
        width: 100%;
        gap: 10px;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 128px;
    }

    .stats-item {
        width: calc((100% - 20px) / 3);
        text-align: center;
    }
    .jeremy-content {
        width: calc(100% - 80px);
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
        gap: 117px;
        /* margin-top: 273px; */
        padding: 0 58px 64px;
        top: 100%;
        transform: translate(-50%, -220px);
    }

    .jeremy-content>div {
        width: 100%;
    }

    .jeremy-img-wrap {
        height: 221px;
        width: 252px;
        margin: 0 auto;
        transform: translateX(9.5px);
    }

    .jeremy-img {
        width: 252px;
        height: 402px;
    }

    .jeremy-img-wrap::after {
        width: 49.27px;
        height: 40px;
        top: calc(100% + 40px);
        left: 92px;
    }

    .jeremy-img-wrap::before {
        width: 197px;
        height: 197px;
        top: 0;
        left: 21px;
    }

    .jeremy {
        margin-top: 493px;
    }

    .jeremy-info {
        max-width: 100%;
        padding: 0;
        /* max-width: 350px; */
        margin: 0 auto;
        text-align: center;
    }

    .footer {
        padding-top: 656px;

    }

    .jeremy-title {
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.416667px;
    }

    .jeremy-text {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.09px;
    }
}

/* mobile view  */
@media screen and (max-width: 767.9px) {
    .container {
        padding: 0 16px;
    }
    .header-button {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.14px;
        padding: 12px 16.5px 12px 15.5px;
        margin-right: -10px;
    }
    .header-logo{
        margin-left: -10px;
        margin-right: auto;
    }
    .stats {
        margin-top: 400px;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
    .first-section {
        margin-top: 56px;
        padding-top: 88px;
        padding-bottom: 0;
    }
    
    .first-section::after {
        width: calc(100vw - 32px);
        /* width: 343px; */
        height: 240px;
        /* height: calc((100vw - 32px) * 0.7); */
        top: 425px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("./assets/image-hero-landscape.png");
        background-position: center top;
    }
    
    .first-section-title {
        font-size: 38px;
        line-height: 44px;
        letter-spacing: -0.527778px;
        margin-bottom: 20px;
    }
    .first-section-info{
        /* background-color: aqua; */
        margin-top: -85px;
        /* margin-bottom: 100px; */
    }
    .first-section-button{
        margin-top: 1px;
    }
    .line::before {
        width: 151.47px;
        height: 19px;
        top: -25px;
    }

    .first-section-text {
        margin: 32px 0 32px;
        margin-top: auto;
        margin-bottom: 35px;
    }
    .jeremy-content {
        width: 100%;
        /* gap: 205px; */
        padding: 0 16px 64px;
        top: 0;
        transform: translate(-50%, -614px);
    }

    .jeremy {
        margin-top: 850px;
    }
    .footer {
        padding-top: 190px;
        padding-bottom: 80px;
    }

    .footer-content {
        align-items: center;
        flex-direction: column;
        gap: 33px;
        margin-top: 35px;
    }

}