*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'epilogue';
    display: grid;
    place-items: center;
    overflow-x: hidden;
}
/* theme colors */
:root {
    --very-dark-color: rgb(23 35 57);
    --dark-color: rgb(73 86 109);
    --neutral-color: rgb(234 237 231);
    --accent-color: rgb(250 248 246);

    /* super-blend */
    --top-color: rgb(9, 7, 12);
    --middle-color: rgb(203 48 227);
    --bottom-color: rgb(255 168 78);

}
#navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    position: absolute;
    width: 78.41px;
    margin-left: -2rem;
    margin-bottom: -15rem;
}
bold{
    font-weight: 700;
}
button{
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    font-style: 'epilogue';
    letter-spacing: -0.16px;
    font-size: 16px;
    width: 256px;
}
.header-btn{
    border: 1px solid var(--very-dark-color);
    margin-bottom: -15rem;
    margin-left: 85rem;
}
.header-btn:hover{
    background-color: #172339;
    color: #fff;
}
#super-solution{
    width: 1110px;
    height: 250px;
    /* margin-top: 30rem; */

}
.curved-line{
    margin-left: -45rem;
    margin-top: -120rem;
    height: 52px;
}
/* .price-list{
    margin-left: -5rem;
    flex-direction: column;
    margin: 3rem auto;
    height: 50rem;
    justify-content: space-between;
} */
.price-list{
    margin-left: 75rem;
    margin-top: 40rem;
    /* margin-bottom: -50rem; */
}
.bolded-price{
font-family: 'epilogue';
font-weight: 700;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.5px;
color: #172339;
}
.price-info{
    font-family: 'epilogue';
    font-weight: 400; 
    font-size: 16px;
    line-height: 26px;
    color: #49566D;
    letter-spacing: 2.5px;
}
.twoK{
    margin-bottom: 5rem;
}
.eight{
    margin-bottom: 5rem;
}
.one-point2{
    margin-bottom: 5rem;
}
#superHeader-paragraph-button{
    margin-top: -80rem;
}
.mission-statement{
    color: #172339;
    font-family: 'epilogue';
    font-size: 100px;
    margin-right: 100px;
    letter-spacing: -1px;
    font-weight: 400;
    width: 1635px;
}
.quote1{
    font-size: 25px;
    color: #49566D;
    line-height: 32px;
    font-weight: 400;
    font-family: 'epilogue';
    letter-spacing: 0.4px;
    margin-bottom: 5rem;
}
.mission-btn{
  background-color: #172339;
  color: #fff;
  border-color: #fff;
}
.mission-btn:hover{
    background: linear-gradient(135deg, #a060ff 0%, #cb30e3 49.21%, #ffa84e 100%);
    color: #fff;
}
/* .full-rectangular-box{
    width: 1110px;
    height: 586.96px;
    margin-bottom: 70rem;
    color: #172339;
}
.rectangular-box{
    color: #172339;
} */

#blue-black-rectangular-box{
    background: #172339;
    border-radius: 15px;
    width: 1809px;
    height: 870px;
    margin-top: -145rem;
}
.blur{
    opacity: 0.48;
    filter: blur(87.957px);
    margin-top: -15rem;
    margin-left: 15rem;
}
.jeremy-img{
    /* background: url(Image.png); */
    width: 600px;
    height: 950px; 
    margin-left: -34rem;
    margin-top: -5rem;
}
#footer-rectangle-background{
    background: #F3EDE7;
    width: 2500px;
    height: 1095px;
    margin-top: 44rem;
}
.curved-line2{
    margin-left: 12rem;
    margin-bottom: 35rem
}
#just-works{
    width: 850px;
    height: 369px;
    margin-left: 80rem;
    margin-top: -45rem;
    color: white;
}

.it-just-works-title{
    font-family: 'epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 56px;
    color: #FAF8F6;
}
.it-just-works-body{
    letter-spacing: 0.1px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    margin-top: 3rem;
}
.upcase-bold{
    margin-top: 3rem;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}
.upcase-regular{
    margin-top: 1rem;
}

footer{
    width: 1809px;
    height: 32px;
    display: inline-flex;
    justify-content: space-between;
    margin-top: -70rem;
}

/* .footer-logo{
    margin-left: 85rem;
}  */
.copyright{
    color: #49566D;
    text-align: center;
    letter-spacing: 0.0833333px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    align-items: center;
    /* margin-right: -90rem; */
}
.links li{
    display: inline; 
    justify-content: space-evenly;
    margin-left: 2rem;
    /* width: 116px;
    height: 20px; */
}
.links ul{
    margin-left: 2rem;
}

/* .fb{
    margin-left: 5rem;
}
.twitter{
    margin-left: auto;
}
.insta{
    margin-left: auto;
} */



/* media query Tablet*/
@media only screen and (max-width: 768px){
    #navigation{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        /* width: 689px;
        height: 56px; */
    }

    .logo{
        position: absolute;
        width: 78.41px;
        margin-left: -2rem;
        margin-bottom: -15rem;
    }



    .header-btn{
        border: 1px solid var(--very-dark-color);
        margin-bottom: -15rem;
        margin-left: 85rem;
        width: 219px;
        height: 56px;  
    }


    #super-solution{
        width: 573px;
        height: 354px;
        /* margin-top: 30rem; */
    
    }




}

